node_modules/
.DS_Store
.expo
app.json
app.js
node_modules
package.json
package-lock.json
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
App.js
src/constant.js
# macOS
.DS_Store
# 